          <header class="hero-unit" id="banner">
            <div class="container" id="sw4dTitle">So What's for dinner ?</div>
          </header>
          <div ng-include="'components/navbar/navbar.html'"></div>


           <accordion id="dinnerModal">
              <accordion-group heading="Cook at home">
                Suggest dish :
                <input ng-model="suggestedDish.val"></input>
                  <!--  {{suggestedDishUsual.val}} -->
                   <br>
                    or pick from your group's usuals :
                  <select ng-model="suggestedDishUsual.val">
                    <option ng-repeat="cookAtHomeUsual in cookAtHomeUsuals | orderBy:'nameOfDish'">{{cookAtHomeUsual.nameOfDish}}</option>
                  </select> 
                  <br>        
                <button class="btn btn-default btn-sm" ng-click="sendCookAtHome()">Send</button>
                <br>
              </accordion-group>
              <accordion-group heading="Order in">
                Suggest restaurant : <input ng-model="suggestedOrderIn.val"></input><br>
                Restaurant address : <input ng-model="suggestedOrderIn.address"></input><br>
                Restaurant phone#  : <input ng-model="suggestedOrderIn.phone"></input><br>
                Restaurant website : <input ng-model="suggestedOrderIn.website"></input><br>
                <div><br>
                or pick from your group's usuals
                  <select ng-model="suggestedOrderInUsual.val">
                    <option ng-repeat="orderInUsual in orderInUsuals">{{orderInUsual.nameOfPlace}}</option>
                  </select>
                </div><br>
                <button class="btn btn-default btn-sm" ng-click="sendOrderIn()">Send</button>
               
              </accordion-group>
              <accordion-group heading="Eat out">
             
                Suggest restaurant : <input ng-model="suggestedEatOut.val"></input><br>
                Restaurant address : <input ng-model="suggestedEatOut.address"></input><br>
                Restaurant phone#  : <input ng-model="suggestedEatOut.phone"></input><br>
                Restaurant website : <input ng-model="suggestedEatOut.website"></input><br>
                <div><br>
                or pick from your group's usuals
                	<select ng-model="suggestedEatOutUsual.val">
                		<option ng-repeat="eatOutUsual in eatOutUsuals">{{eatOutUsual.nameOfPlace}}</option>
                	</select>
                </div><br>
                <button class="btn btn-default btn-sm" ng-click="sendEatOut()">Send</button>
            </accordion-group>
            <accordion-group heading="Graze">
              Are you sure? 
              <br>
              <div class="btn-group">
                <button type="button" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-danger">No</button>

              </div>
            </accordion-group>
            <accordion-group heading="Find smth new from yelp">
              <p>The body of the accordion group grows to fit the contents</p>
            </accordion-group>
          </accordion>

  